Repository sitcomlab/simport-learning-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

remove option to show whole trajectory in debug window
  src/app/debug-window/debug-window.component.html
Due: prettier --write, eslint

#266: log without user-trajectory
  src/app/shared-services/logfile/logfile.service.ts
Due: prettier --write, eslint

fix: fix eslint problems
  src/app/shared-services/db/migrations.ts
  src/app/shared-services/db/sqlite.service.ts
Due: prettier --write, eslint

fix: use `@capacitor/app`
  src/app/shared-services/inferences/inference.service.ts
  src/app/shared-services/logfile/logfile.service.ts
Due: prettier --write, eslint

fix: remove status bar and splash screen from test
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/select-trajectory/trajectory-card/trajectory-card-popover/trajectory-card-popover.page.spec.ts
Due: prettier --write, eslint

feat: replace `capacitor.config.json` with `.ts`
  capacitor.config.json
  capacitor.config.ts
Due: prettier --write

fix: run on android
  android/.idea/compiler.xml
  android/.idea/jarRepositories.xml
  android/.idea/misc.xml
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/de/ifgi/simport/learning/MainActivity.java
  android/build.gradle
Due: none

fix: replace deprecated background task
  android/app/capacitor.build.gradle
  android/capacitor.settings.gradle
  ios/App/Podfile
  ios/App/Podfile.lock
  package-lock.json
  package.json
  src/app/shared-services/background/AbstractBackgroundService.ts
Due: prettier --write, eslint

update file-picking & remove obsolete code
  src/app/shared-services/diary/diary.service.ts
  src/app/shared-services/trajectory/trajectory-import-export.service.ts
  src/app/tracking/tracking.page.html
  src/app/tracking/tracking.page.ts
Due: prettier --write, eslint

fix: database already connected
  src/app/shared-services/db/sqlite.service.ts
Due: prettier --write, eslint

fix: debug view
  src/app/debug-window/debug-window-file-size.pipe.ts
  src/app/debug-window/debug-window.component.html
  src/app/debug-window/debug-window.component.ts
  src/app/select-trajectory/select-trajectory.module.ts
Due: prettier --write, eslint

fix: use `config.json` instead of `config.ts`
  capacitor.config.json
  capacitor.config.ts
Due: prettier --write

fix: remove unused `hasPermission` variable
  src/app/select-trajectory/trajectory-card/trajectory-card-popover/trajectory-card-popover.page.ts
  src/assets/i18n/de.json
  src/assets/i18n/en.json
Due: prettier --write, eslint

feat: replace `moment.js` with `date-fns`
  package-lock.json
  package.json
  src/app/model/trajectory.ts
  src/app/select-trajectory/trajectory-card/trajectory-card.component.ts
  src/app/shared-services/db/sqlite.service.ts
Due: prettier --write, eslint

feat: archive .apk for android builds
  .github/workflows/build-android.yml
Due: none

fix: check platform before accessing app info
  src/app/debug-window/debug-window.component.ts
Due: prettier --write, eslint

fix: use java 11 in android actions
  .github/workflows/build-android.yml
  .github/workflows/distribute-android.yml
  .github/workflows/release-beta-android.yml
Due: none

fix: change bundle identifier to fh-muenster
  ios/App/App.xcodeproj/project.pbxproj
  ios/App/App/capacitor.config.json
Due: prettier --write

fix: `registerPlugin` below imports
  src/app/shared-services/location/location.service.ts
Due: prettier --write, eslint

fix: visible status bar even in dark mode
  android/app/capacitor.build.gradle
  android/capacitor.settings.gradle
  ios/App/Podfile
  ios/App/Podfile.lock
  package-lock.json
  package.json
  src/app/app.component.ts
Due: prettier --write, eslint

#248: update github action packages
  .github/workflows/build-android.yml
  .github/workflows/build-ios.yml
  .github/workflows/distribute-android.yml
  .github/workflows/distribute-ios.yml
  .github/workflows/release-beta-android.yml
  .github/workflows/run-tests.yml
Due: none

#248: test if we can get rid of coturiv/setup-ionic
  .github/workflows/build-android.yml
  .github/workflows/build-ios.yml
  .github/workflows/distribute-android.yml
  .github/workflows/distribute-ios.yml
  .github/workflows/release-beta-android.yml
Due: none

#248: rename `macOS-12` to `macos-12`
  .github/workflows/build-ios.yml
  .github/workflows/distribute-ios.yml
Due: none

build .apk with action in study-1 branch
  .github/workflows/release-beta-android.yml
Due: none

fix inferenceservice not being a singleton
  android/variables.gradle
  src/app/shared-services/background/AbstractBackgroundService.ts
  src/app/shared-services/inferences/inference.service.ts
  src/app/shared-services/shared-services.module.ts
  src/app/trajectory/trajectory.page.ts
Due: prettier --write, eslint

add `.nvmrc`
  .nvmrc
Due: none

#287: encrypt db with random secret
  capacitor.config.json
  package-lock.json
  package.json
  src/app/shared-services/db/sqlite.service.ts
Due: prettier --write, eslint

enclave csv-content with double quotes and replace newline
  src/app/shared-services/diary/diary.service.ts
Due: prettier --write, eslint

#287: migrate encryption db
  src/app/shared-services/db/sqlite.service.ts
Due: prettier --write, eslint

#287: close connection after encryption
  src/app/shared-services/db/sqlite.service.ts
Due: prettier --write, eslint

#287: reorder code and remove passphrase creation
  capacitor.config.json
  src/app/shared-services/db/sqlite.service.ts
Due: prettier --write, eslint

#287: check if secret is stored
  src/app/shared-services/db/sqlite.service.ts
Due: prettier --write, eslint

#287: update `Podfile.lock`
  ios/App/Podfile.lock
Due: none

#288: initial biometric authentication
  android/app/capacitor.build.gradle
  android/capacitor.settings.gradle
  ios/App/App/Info.plist
  ios/App/Podfile
  ios/App/Podfile.lock
  package-lock.json
  package.json
  src/app/app.component.ts
Due: prettier --write, eslint

#293: distribute `study` branch on google play
  .github/workflows/release-beta-android.yml
Due: none

replace linebreaks with tabstop for csv-exports
  src/app/shared-services/diary/diary.service.ts
Due: prettier --write, eslint

create inference-cards
  src/app/model/inference.ts
  src/app/shared-services/inferences/engine/types.ts
  src/app/trajectory/inferences/inferences.page.html
  src/app/trajectory/inferences/inferences.page.scss
  src/app/trajectory/inferences/inferences.page.ts
Due: prettier --write, eslint

add poi-icons for category/type
  src/app/model/reverse-geocoding.ts
  src/app/trajectory/inferences/inferences.page.html
  src/app/trajectory/inferences/inferences.page.scss
  src/app/trajectory/inferences/inferences.page.ts
Due: prettier --write, eslint

update inference-card layout and fix map-routing
  src/app/trajectory/inferences/inferences.page.html
  src/app/trajectory/inferences/inferences.page.scss
  src/app/trajectory/inferences/inferences.page.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: src/app/**/*.{ts,js,html}) or (any of: **/*.{css,scss,md,json})
  eslint: any of: src/app/**/*.{ts,js,html}
