Repository sitcomlab/simport-learning-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

update firebase distribution action
  .github/workflows/distribute-android.yml
  .github/workflows/distribute-ios.yml
Due: none

Fix typo
  src/app/settings/settings.page.ts
Due: prettier --write, eslint

#224: Update privacy policy text
  src/app/settings/privacy-policy/privacy-policy.page.html
  src/assets/i18n/de.json
  src/assets/i18n/en.json
Due: prettier --write, eslint

fix feature flag setup for deployment study after merging
  src/app/shared-services/feature-flag/feature-flag.fixtures.ts
  src/app/shared-services/feature-flag/feature-flag.service.ts
Due: prettier --write, eslint

#224: add German version of updated privacy policy
  src/assets/i18n/de.json
  src/assets/i18n/en.json
Due: prettier --write

#224: extract right to complaint section into separate key value pair
  src/app/settings/privacy-policy/privacy-policy.page.html
  src/assets/i18n/de.json
  src/assets/i18n/en.json
Due: prettier --write, eslint

#229: Draw last segment of trajectory
  src/app/trajectory/map/map.page.ts
Due: prettier --write, eslint

#229: code review: avoid adding undefined element
  src/app/trajectory/map/map.page.ts
Due: prettier --write, eslint

#228: update firebase authentication method
  .github/workflows/distribute-ios.yml
Due: none

replace @mauron85/cordova-plugin-background-geolocation with @capacitor-community/background-geolocation
  android/app/capacitor.build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/de/ifgi/simport/learning/MainActivity.java
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/xml/config.xml
  android/capacitor.settings.gradle
  ios/App/Podfile
  ios/App/Podfile.lock
  package-lock.json
  package.json
  src/app/shared-services/location/location.service.ts
Due: prettier --write, eslint

#237: Fixed conditional in html
  src/app/tracking/tracking.page.html
Due: prettier --write, eslint

#238: Display full content instead of abstract
  src/app/diary/diary.page.html
Due: prettier --write, eslint

#239: notification-icon and -strings
  android/app/src/main/res/drawable-hdpi/ic_tracking_notification.png
  android/app/src/main/res/drawable-mdpi/ic_tracking_notification.png
  android/app/src/main/res/drawable-xhdpi/ic_tracking_notification.png
  android/app/src/main/res/drawable-xxhdpi/ic_tracking_notification.png
  android/app/src/main/res/drawable-xxxhdpi/ic_tracking_notification.png
  android/app/src/main/res/values/strings.xml
  ios/App/App/config.xml
  ios/App/Podfile.lock
  src/app/shared-services/location/location.service.ts
Due: prettier --write, eslint

#238: Set max height of card
  src/app/shared-ui/item-card/item-card.component.scss
Due: prettier --write

#240: Change button name in en
  src/assets/i18n/en.json
Due: prettier --write

#239: remove @ionic-native/background-geolocation
  package-lock.json
  package.json
  src/app/debug-window/debug-window.component.spec.ts
  src/app/select-trajectory/select-trajectory.page.spec.ts
  src/app/select-trajectory/trajectory-card/trajectory-card-popover/trajectory-card-popover.page.spec.ts
  src/app/select-trajectory/trajectory-card/trajectory-card.component.spec.ts
  src/app/select-trajectory/trajectory-selector/trajectory-selector.component.spec.ts
  src/app/shared-services/inferences/inference.service.spec.ts
  src/app/shared-services/location/location.service.spec.ts
  src/app/shared-services/shared-services.module.ts
  src/app/shared-services/trajectory/trajectory-import-export.service.spec.ts
  src/app/shared-services/trajectory/trajectory.service.spec.ts
  src/app/tracking/tracking.page.spec.ts
  src/app/trajectory/inference-filter/inference-filter.component.spec.ts
  src/app/trajectory/inferences/inferences.page.spec.ts
  src/app/trajectory/map/map.page.spec.ts
  src/app/trajectory/trajectory.page.spec.ts
Due: prettier --write, eslint

#239: update Podfile.lock
  ios/App/Podfile.lock
Due: none

update macOS + XCode for workflows
  .github/workflows/build-ios.yml
Due: none

update macOS + XCode for workflows
  .github/workflows/build-ios.yml
  .github/workflows/distribute-ios.yml
Due: none

#240: Change name of button in DE and EN
  src/assets/i18n/de.json
  src/assets/i18n/en.json
Due: prettier --write

#238: Add ellipsis at end of line
  src/app/shared-ui/item-card/item-card.component.scss
Due: prettier --write

#238: Set max width to auto
  src/app/shared-ui/item-card/item-card.component.scss
Due: prettier --write

#245: Added log event
  src/app/shared-services/inferences/inference.service.ts
Due: prettier --write, eslint

#245: Log with traj name
  src/app/shared-services/inferences/inference.service.ts
Due: prettier --write, eslint

#251: update diary title text
  src/assets/i18n/de.json
  src/assets/i18n/en.json
Due: prettier --write

#255: disable trajectory export via feature flag
  src/app/select-trajectory/trajectory-card/trajectory-card-popover/trajectory-card-popover.page.html
  src/app/select-trajectory/trajectory-card/trajectory-card-popover/trajectory-card-popover.page.ts
  src/app/select-trajectory/trajectory-card/trajectory-card.component.ts
  src/app/shared-services/feature-flag/feature-flag.fixtures.ts
Due: prettier --write, eslint

Bump sdkVersion to 31
  android/variables.gradle
Due: none

Revert "Bump sdkVersion to 31"
  android/variables.gradle
Due: none

#256: Implement notification feature flag
  src/app/shared-services/feature-flag/feature-flag.fixtures.ts
  src/app/shared-services/inferences/inference.service.ts
  src/app/tracking/tracking.page.html
  src/app/trajectory/trajectory.page.ts
Due: prettier --write, eslint

#259: Change texts
  src/assets/i18n/de.json
  src/assets/i18n/en.json
Due: prettier --write

#257: Change conf to start with control group
  src/app/shared-services/feature-flag/feature-flag.service.ts
Due: prettier --write, eslint

#259: code review: fix typo
  src/assets/i18n/en.json
Due: prettier --write

Revert "#256: Implement notification feature flag"
  src/app/shared-services/feature-flag/feature-flag.fixtures.ts
  src/app/shared-services/inferences/inference.service.ts
  src/app/tracking/tracking.page.html
  src/app/trajectory/trajectory.page.ts
Due: prettier --write, eslint

#256: code review: fix regression introduced by initial commit for this feature and implement feature
  src/app/shared-services/feature-flag/feature-flag.fixtures.ts
  src/app/shared-services/inferences/inference.service.ts
Due: prettier --write, eslint

#257: start with control group mode for study setup
  src/app/shared-services/feature-flag/feature-flag.fixtures.ts
  src/app/shared-services/feature-flag/feature-flag.service.ts
Due: prettier --write, eslint

#260: simplify imprint text
  src/assets/i18n/de.json
  src/assets/i18n/en.json
Due: prettier --write

#260: small update privacy policy
  src/assets/i18n/de.json
  src/assets/i18n/en.json
Due: prettier --write

build .apk with action in study-1 branch
  .github/workflows/release-beta-android.yml
Due: none

#241: Add missing tags
  src/app/debug-window/debug-window.component.html
  src/app/debug-window/debug-window.component.scss
Due: prettier --write, eslint

Path conditions:
  prettier --write: (any of: src/app/**/*.{ts,js,html}) or (any of: **/*.{css,scss,md,json})
  eslint: any of: src/app/**/*.{ts,js,html}
